#app {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
#app *:focus {
  outline: 2px solid rgb(31, 174, 231);
}
button {
  background-color: rgb(248, 244, 244);
  border: 2px solid rgb(145, 144, 144);
  padding: 10px 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
li > div {
  margin-left: 10px;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.screen-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screen-wrap input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.btn-wrap {
  margin-left: 100px;
  align-self: center;
}
